@keyframes animatedBackground {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes move {
	0% {
		left: 0px;
	}
	50% {
		left: 1em;
	}
	100% {
		left: 0px;
	}
}

html, input[type=submit] {
	text-transform: lowercase;
}

body {
	background-image: url("../graphics/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-animation: animatedBackground 20s linear infinite;
	-moz-animation: animatedBackground 20s linear infinite;
	-o-animation: animatedBackground 20s linear infinite;
	animation: animatedBackground 20s linear infinite;
    height: 100%;
	font-family: Helvetica;
}

h1 {
	font-size: 0.5em;
}

h2 {
	text-align: center;
}

p, legend, label {
	text-align: center;
	font-size: 0.5em;
}

p {
	font-size: 1em;
	color: #000;
}

p:last-child {
	color: #fff;
	font-size: 0.5em;
}

a::before { 
    content: "\2192  ";
}

a {
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	position: relative;
	animation: move 2s infinite;
}

.container {
	width: 40%;
	margin: 0 auto;
}

form {
	padding: 1em;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0.5em;
}

fieldset {
	border: 0;
}

input {
	display: block;
	width: 50%;
	margin-bottom: 2%;
	padding: 1%;
	border: 0;
	background: #fff;
	border-radius: 0.2em;
	opacity: 0.5;
}

input:hover, input:focus, input:active {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

form:hover {
	background: rgba(255, 255, 255, 0.21);
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input[type=submit] {
	width: 25%;
	margin: 0 auto;
}

input[type=checkbox] {
    width:15px;
    height:15px;
}